CONFIG_STATIC=y
CONFIG_LFS=y
CONFIG_ASH=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH_BASH_COMPAT=y
CONFIG_ASH_CMDCMD=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_FEATURE_FANCY_HEAD=y
CONFIG_FEATURE_FANCY_SLEEP=y
CONFIG_FEATURE_FIND_MAXDEPTH=y
CONFIG_FEATURE_FIND_TYPE=y
CONFIG_FEATURE_STAT_FORMAT=y
CONFIG_FEATURE_TAR_CREATE=y
CONFIG_FEATURE_TAR_GNU_EXTENSIONS=y
CONFIG_FEATURE_TAR_LONG_OPTIONS=y
CONFIG_FIND=y
CONFIG_HEAD=y
CONFIG_LN=y
CONFIG_MKDIR=y
CONFIG_MKTEMP=y
CONFIG_MV=y
CONFIG_READLINK=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SLEEP=y
CONFIG_STAT=y
CONFIG_TAR=y
CONFIG_TEST=y
